/* Title Bar */

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover {
    -fx-background-color: #fb3d63;
}




.login_container {
    -fx-background-color: #EEEEEE;
}

/* logo container style */
.login_logo_container {
    -fx-background-color: #132A13;
    -fx-alignment: center;
}

.login_logo_container Text {
    -fx-font-size: 2em;
    -fx-fill: #FFFFFF;
}

.login_logo_container FontAwesomeIcon {
    -fx-fill: #ECF39E;
}